.container
  max-width 1200px
  margin 0 auto
  text-align center
ul
  list-style none
  padding 0

.pizza-size, .topping
  &__container
    display flex
    flex-wrap wrap
    justify-content center
  &__item
    width 150px
    height 150px
    cursor pointer
    background-color orange
    text-align center
    display flex
    flex-direction column
    margin 5px
    &:hover
      opacity .7
    &--selected
      background-color yellowgreen
    &:not(.topping__item--selected).topping__item--full
      pointer-events none
    &--forbidden
      pointer-events none
      background-color gray
  &__title
    font-size 18px
    font-weight 400
.buttons
  &__container
    display flex
    justify-content space-around
.contact-form
  display flex
  flex-direction column
  row-gap 10px

